<html>
    <head>
        <title>Alesyka's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Experienta vietii</a></h2>
            <p>Django Girls este o organizație non-profit internațională, inițiată de două femei poloneze, Ola Sitarska și Ola Sendecka, pentru a inspira femeile din toate mediile să se intereseze în tehnologie și să devină programatori un mediu prietenos. Este cunoscut pentru atelierele gratuite pe care le găzduiește pentru a ajuta femeile să învețe să programeze și pentru tutorialul său Django. Acesta este adesea susținut de Fundația Software-ului Python.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Multa munca pentru rezultate</a></h2>
            <p>Ma vei auzi intotdeauna vorbind la superlativ despre munca. Munca este oportunitatea de a te dezvolta. In lumea oamenilor de succes se spune ca pentru a atinge performanta in orice domeniu, e nevoie de circa 10.000 de ore de munca sustinuta. As adauga ca este nevoie sa faci munca ce conteaza. Sase miliarde de oameni de pe planeta muncesc, insa extrem de putini au viata pe care si-o doresc. Cei mai multi muncesc din greu o viata intreaga si mor saraci, dar mai ales neimpliniti. Nu este suficient sa muncesti; trebuie sa muncesti inteligent.</p>
        </div>
    </body>
</html>